<!-- <section class="property-binding">

    <article>
        <h3> Interpolação / Interpolation </h3>
        <p> String renderização com Interpolação: {{ url }} </p>
        <p> Resultado de 1 + 1 é: {{ 1 + 1 }} </p>
        <p> Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }} </p>
        <p> Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }} </p>
        <p> Curso de Angular e Curtir curso: {{ cursoAngular && getCurtirCurso() }} </p>
    </article>

    <article>
        <h3> Property Binding </h3>
      <img src='{{ urlImagem }}'>  
      <img [src]='urlImagem'>  
      <img bind-src='urlImagem'>  
    </article>

    <article>
        <h3> Class & Style Binding </h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Informação</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
        </div>

        <div class="{{ classe.value }}" role="alert">
            Texto colorido de acordo com valor do combobox
        </div>

        <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
        <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
        <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
        <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>

        <div class="alert alert-danger" role="alert"
        [style.display]="classe.value == 'alert-danger'? 'block' : 'none'">Mensagem que só aparecerá se tiver erros</div>
    </article>
</section> 

<section>
    <article>
        <h3>Event Binding</h3>
        <button class="btn btn-primary" (click)="clicou()" >Me click</button>
        <br/><br/>
        <p> O input tem alguns eventos. Um deles é o keyup que é o evento acionado assim que a tela 'levanta'. Podemos escutar também
             esse evento assim que a tecla 'enter' é acionada com keyup.enter. Outro evento desse componente é o 'blur' que é quando perde o foco.
            Como vimos podemos colocar o elemento em uma variavel. Assim $event.target.value é a mesma coisa que campo.value. Pois declaramos nosso input, ou $event.target na variavel #campo </p>
        <input #campo type="text" name="txtTeste" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor($event.target.value)" 
        (blur)="salvarValor(campo.value)" >
        <p> Digitando...: {{ valorInput }} </p>
        <p> Texto Salvo: {{ valorInputSalvo }} </p>

        <br> <br>
        <span (mouseover)="onMouseOverOut()" 
        (mouseout)="onMouseOverOut()"
        [class.highligth]="isMouseOver">
            Passe o mouse sobre mim
        </span>
    </article>
</section> -->

<section class="two-way-binding">
    <article>
        <h3>Two Way Databing</h3>
        <div>
            <input type="text" 
            [value]="nome" 
            (input)="nome = $event.target.value" />
            <p>Você digitou: {{ nome }}</p>

            <p> Igual a: </p>

            <input type="text" 
            [ngModel]="nome" 
            (ngModelChange)="nome = $event" />
            <p>Você digitou: {{ nome }}</p>

            <p>Boa Prática Two Way Databinding:</p>
            <input type="text" 
            [(ngModel)]="nome" />
            <p>Você digitou: {{ nome }}</p>

            <h6>Notação</h6>
            <p> Binding: [src] = bind-src <br>
                Event: (click) = onclick <br>
                Two way databinding [(ngModel)]  = bindon-ngModel</p>
                <input placeholder="Digite o nome" type="text" 
                [(ngModel)]="pessoa.nome"/>
                <input placeholder="Digite a idade" type="number" 
                [(ngModel)]="pessoa.idade"/>
                <p> Pessoa: <br>
                    Nome: {{pessoa.nome }} <br>
                    Idade: {{ pessoa.idade }}</p>
            </div>
    </article>
</section>